**/Dockerfile
.dockerignore

.github

# 排除 .monad 运行时目录
.monad/

/docker/devnet/monad/ledger
/docker/devnet/monad/bft-ledger
/docker/devnet/monad/block-payload
/docker/devnet/monad/triedb
/docker/devnet/monad/wal
/docker/devnet/monad/mempool.sock
/docker/single-node/logs

**/.git

**/target
!target/release/monad-node
!target/release/monad-keystore
!target/release/sign-name-record

**/*.data
**/*.data.old
**/*.svg
