[submodule "monad-execution"]
	path = monad-execution
	url = https://github.com/biya-coin/monad
	branch = staging-v0.14.2
[submodule "biyachain-core"]
	path = biyachain-core
	url = https://github.com/biya-coin/biyachain-core
	branch = feat/convert_market_order_to_atomic_monad
[submodule "cometbft"]
	path = cometbft
	url = https://github.com/biya-coin/cometbft
